---
layout: default
---

  <div class="post">
    <header class="post-header">
       
    {% if page.picture %}
        <div class="profile float-right">
          {% assign profile_image_path = page.picture | prepend: 'assets/img/team/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.picture
            cache_bust=true
          %}
         </div>
        {% endif %}

      <h1 class="post-title">
        {{ page.title }}
      </h1>
    
      {% if page.position %}
        <span class="p-1 pr-2 font-weight-bold">Position: </span>
        <span class="p-1 pl-2 font-weight-light text">{{ page.position }}</span><br>
      {% endif %}

      {% if page.organization %}
        <span class="p-1 pr-2 font-weight-bold">Organization: </span>
        <span class="p-1 pl-2 font-weight-light text">{{ page.organization }}</span><br>
      {% endif %}

      {% if page.department %}
        <span class="p-1 pr-2 font-weight-bold">Department: </span>
        <span class="p-1 pl-2 font-weight-light text">{{ page.department }}</span><br>
      {% endif %}

      {% if page.office %}
        <span class="p-1 pr-2 font-weight-bold">Office: </span>
        <span class="p-1 pl-2 font-weight-light text">{{ page.office }}</span> <br>
      {% endif %}

      {% if page.email %}
        <span class="p-1 pr-2 font-weight-bold">Email: </span>
        <span class="p-1 pl-2 font-weight-light text">{{ page.email }}</span><br>
      {% endif %}
      
      {% if page.phone %}
        <span class="p-1 pr-2 font-weight-bold">Phone: </span>
        <span class="p-1 pl-2 font-weight-light text">{{ page.phone }}</span> <br>
      {% endif %}

      {% if page.cv_pdf %}
        <div class="cvpdf">
          <a
            {% if page.cv_pdf contains '://' %}
              href="{{ page.cv_pdf }}"
            {% else %}
              href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
            {% endif %}
            target="_blank"
            rel="noopener noreferrer"
            class="badge font-weight-bold text-uppercase align-middle"
            style="min-width: 75px"
          >
          View CV
          </a>
        </div>
      {% endif %}

      <div class="clearfix"></div>


    </header>

    <article>
      <div class="cv">
        {% for entry in site.data.cv[page.slug] %}
          <a class="anchor" id="{{ entry.title }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
            <div>
              {% if entry.type == 'list' %}
                {% include cv/list.liquid %}
              {% elsif entry.type == 'map' %}
                {% include cv/map.liquid %}
              {% elsif entry.type == 'nested_list' %}
                {% include cv/nested_list.liquid %}
              {% elsif entry.type == 'time_table' %}
                {% include cv/time_table.liquid %}
              {% elsif entry.type == 'list_groups' %}
                {% include cv/list_groups.liquid %}
              {% else %}
                {{ entry.contents }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
