---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/team/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.title %}<h3 class="post-title">{{ profile.title }}</h3>{% endif %}
          {% if profile.position %}<h4 class="post-meta">{{ profile.position }}</h4>{% endif %}
          {% if profile.content %}<p> {{ profile.content | markdownify }}</p>{% endif %}
          {% if profile.resume %}<div class="links">
          <a href="{{ profile.url }}" class="btn btn-sm z-depth-0" style="background-color:rgb(246, 218, 113);color:rgb(161, 140, 189);font-weight: 700;" role="button">
          CV
        </a>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
